.contacts {
  padding: 100px 30px 80px;
  font-family: var(--font-Roboto);

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.contacts-box {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 50px;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--color-main-black);
  border: 2px solid var(--color-accent-yellow);
  border-bottom: 2px solid white;
  border-left: 2px solid white;

  border-top-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-main-light);
}

.contacts__title {
  animation: 2s anim-lineUp ease-out infinite;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  row-gap: 1rem;
  column-gap: 4rem;

  margin-bottom: 2rem;
  height: 200px;
  width: 600px;
}

.contacts__item {
}

.contact {
  display: inline-flex;
  gap: 1rem;
  place-items: center;
}

.contact__text {
}

.contact__image:hover ~ .contact__text,
.contact__text:hover {
  text-decoration: underline wavy var(--color-main-dark);
}

.contact img {
  width: 20px;
  object-fit: contain;
}

@media (max-width: 500px) {
  .contacts__list {
    height: auto;
    width: auto;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* DOWNLOADS */

.contacts__downloads {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.contacts__downloads-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.7;
}

.contacts__downloads-link:hover {
  opacity: 1;
}

.contacts__downloads-link span {
}

.contacts__downloads-link img {
  width: 30px;
}
