.footer {
  position: relative;
  flex-shrink: 0;
  background-color: var(--color-main-light);

  border-left: 0.5rem solid;
  border-left-color: var(--color-accent-yellow);
}

.footer__copyright {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .footer__copyright {
    font-size: 0.8rem;
  }
}
