.projects {
  position: relative;
  background: radial-gradient(
    var(--color-accent-blue),
    var(--color-main-light)
  );
  color: var(--color-main-dark);
  padding: 130px 30px 80px;
}

.projects-box {
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
  font-family: var(--font-Markazi);
  font-weight: bold;

  background-color: var(--color-accent-yellow);
  background: linear-gradient(
    var(--color-main-light),
    var(--color-accent-yellow)
  );
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-main-black);
  box-shadow: 0 0 10px 2px lightblue;
  /* transform: rotate(45deg); */
  animation: boxAnimation 1s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes boxAnimation {
  from {
    transform: translateY(-5%) rotate(45deg);
  }
  to {
    transform: translateY(0) rotate(45deg);
  }
}

.projects__title {
  animation: color-animation 4s linear infinite;
  transition: color 0.5s ease;
  font-family: var(--font-Roboto);
  transform: rotate(-45deg);
  font-size: 1rem;
}

.projects__list {
  display: flex;
  flex-flow: row wrap;
  place-items: center;
  place-content: center;
  gap: 40px;
  margin-bottom: 3rem;
}

.projects__item {
}

.project__card {
  width: 300px;
  height: 380px;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow: 0 0 5px 0px var(--color-main-dark);
  background-color: var(--color-main-light);
  transition: all 300ms ease;
}

.project__card:hover {
  box-shadow: 0 0 15px 0px lightblue;
}

.project__card-image {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
}

.project__card-image a {
}

.project__card-image img {
  width: 98%;
  height: 100%;
  object-fit: contain;
}

.project__card-text {
  flex-shrink: 1;
  padding: 0 1rem 1rem;
  font-family: var(--font-Roboto);
}

.project__name {
  color: var(--color-main-black);
  font-weight: bold;
  margin-bottom: 1rem;
}

.project__description {
  font-weight: lighter;
  font-size: 0.85rem;
}

.github {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 2rem;
}

.github__image {
  width: 50px;
}

.github__image img {
  width: 100%;
}

.github__text {
  font-size: 1.5rem;
  color: var(--color-main-light);
}

.github__text:hover {
  color: white;
}

@media (max-width: 500px) {
  .github__text {
    font-size: 1rem;
  }
}
